<div class="card mb-3 f1 margin-nas-laterais tamanho-das-tabelas-dos-paises">
  <div class="card-header titulo titulo-das-tabelas mb-3">
    Status na Espanha
  </div>

  <div class="card-body">
    <p class="mb-2">✅ <strong> {{ dadosEspanha.confirmed }} </strong> Confirmados</p>
    <p class="mb-2">🚨 <strong> {{ dadosEspanha.cases }} </strong> Ativos</p>
    <p class="mb-2">♻️ <strong> {{ dadosEspanha.recovered }} </strong> Recuperados</p>
    <p class="mb-2">💀 <strong> {{ dadosEspanha.deaths }} </strong> Mortes</p>

    <hr/>

    <p class="mb-2">🕐 <strong>Atualizado</strong> {{dadosEspanha.updated_at | date: 'dd/MM/yyyy - HH:mm'}}</p>
    <p class="mb-2">📊 <strong>Fonte</strong> WHO</p>

    <p class="mb-4"><strong>Compartilhar</strong></p>
    <div class="d-flex h-center">
      <img src="../../../assets/whatsapp.svg" alt="Ícone do Whatsapp" class="icone-medio cursor-pointer mr-2">
      <img src="../../../assets/facebook.svg" alt="Ícone do Facebook" class="icone-medio cursor-pointer mr-2">
      <img src="../../../assets/twitter.svg" alt="Ícone do Twitter" class="icone-medio cursor-pointer">
    </div>

  </div>
</div>
