<div class="card mb-3 f1 tamanho-das-tabelas-dos-paises">
  <div class="card-header titulo titulo-das-tabelas mb-3 text-center">
    {{ this.estadoSelecionado?.state }}
  </div>

  <div class="card-body">
    <p class="mb-2">
      ✅ <strong> {{ this.estadoSelecionado?.cases }} </strong> Confirmados
    </p>
    <p class="mb-2">
      💀 <strong> {{ this.estadoSelecionado?.deaths }} </strong> Mortes
    </p>

    <hr />

    <p class="mb-2">
      🕐 <strong>Atualizado</strong>
      {{ this.estadoSelecionado?.datetime | date:"dd/MM/yyyy - HH:mm" }}
    </p>
    <p class="mb-2">📊 <strong>Fonte</strong> WHO</p>

    <p class="mb-4"><strong>Compartilhar</strong></p>
    <div class="d-flex h-center">
      <share-buttons
        [theme]="'circles-dark'"
        [include]="['facebook', 'twitter', 'whatsapp']"
        [show]="3"
        [size]="-3"
        [url]="'https://twitter.com/'"
        [title]="'Titulo'"
        [description]="'Um titulo'"
        [autoSetMeta]="false"
      ></share-buttons>
    </div>
  </div>
</div>
