header {
  align-items: center;
  justify-content: space-between;
  height: 6.4rem;
}

.itens-na-esquerda {
  align-items: center;
}

.titulo-do-header {
  font-size: 2.6rem;
  cursor: pointer;
}

.titulo-do-header:hover {
  color: var(--tom-de-verde);
}

.titulo-do-main {
  font-size: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 780px) {
  main .d-flex {
    flex-direction: column;
  }

  .width-50-porcento {
    width: 100%;
  }
}
