<header class="d-flex">
    <div class="itens-na-esquerda d-flex">
        <div class="titulo-do-header margin-nas-laterais titulo">Casos de COVID-19 ao redor do mundo</div>
        <img src="../assets/logo.svg" alt="Logo do COVID-19" class="icone-do-virus">
    </div>
    <div class="itens-na-direita">
        <img src="../assets/github.svg" alt="Logo" class="icone-do-github">
    </div>
</header>

<main>
    <p class="margin-nas-laterais titulo-do-main titulo">Dados</p>
</main>

<router-outlet></router-outlet>