.titulo-das-tabelas {
  font-size: 2.4rem;
}

td {
  color: var(--tom-de-cinza);
}

tr {
  color: var(--tom-de-cinza);
}

th {
  color: var(--tom-de-cinza);
}

.tamanho-da-tabela-dos-estados-brasileiros {
  height: 81rem;
}

.tamanho-da-fonte-nas-tabelas {
  font-size: smaller;
}

.tamanho-das-tabelas-dos-paises {
  height: 40rem;
  width: 23.4375vw;
}

.tamanho-do-card-pequeno {
  width: 23.4375vw;
}

@media screen and (max-width: 905px) {
  .tamanho-das-tabelas-dos-paises {
    width: auto;
  }
}
