.titulo-das-tabelas {
    font-size: 2.4rem;
  }
  
  td {
    color: var(--tom-de-cinza);
  }
  
  tr {
    color: var(--tom-de-cinza);
  }
  
  th {
    color: var(--tom-de-cinza);
  }
  
  .tamanho-da-fonte-nas-tabelas {
    font-size: smaller;
  }
  
  .tamanho-das-tabelas-dos-paises {
    height: 40rem;
  }