/* Configurações globais da aplicação */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import './css/reset.css';

:root {
    --cor-fundo-escuro: rgb(26, 26, 29);
    --cor-fundo-claro: rgb(32, 33, 36);
    font-size: 10px;
    --fonte-principal: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen, Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --tom-de-verde: rgb(79, 250, 123);
    --tom-de-cinza: rgb(229, 229, 229);
}

body{
    background-color: var(--cor-fundo-claro);
    color: var(--tom-de-cinza);
    font-size: 1.6rem;
    font-family: var(--fonte-principal);
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.f1{
    flex: 1;
}

.margin-nas-laterais{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card{
    border-radius: 1rem;
    max-width: 50%;
}

.card:hover{
    border: 1px solid var(--tom-de-verde);
    border-radius: 1rem;
}

.titulo{
    font-weight: 600;
    cursor: pointer;
}
