/* Configurações globais da aplicação */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import './css/reset.css';

:root {
    --cor-fundo-escuro: rgb(26, 26, 29);
    --cor-fundo-claro: rgb(32, 33, 36);
    font-size: 10px;
    --fonte-principal: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen, Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --tom-de-verde: rgb(79, 250, 123);
    --tom-de-cinza: rgb(229, 229, 229);
}

body {
    background-color: var(--cor-fundo-claro);
    color: var(--tom-de-cinza);
    font-size: 1.6rem;
    font-family: var(--fonte-principal);
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.f1 {
    flex: 1;
}

.margin-nas-laterais {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.titulo {
  font-weight: 700;
}

/* CARDS */
.card {
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--cor-fundo-escuro);
}

.card:hover {
    border: 1px solid var(--tom-de-cinza);
    border-radius: 1rem;
}

.cor-de-fundo-dos-card {
  background-color: var(--cor-fundo-escuro);
}

.card-body{
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: var(--tom-de-cinza);
}

hr {
  border: none;
  height: .2rem;
  color: var(--tom-de-cinza);
  background-color: var(--tom-de-cinza);
}

/* TABELAS */
.titulo-das-tabelas {
  font-size: 2.4rem;
}

td {
  color: var(--tom-de-cinza);
}

tr {
  color: var(--tom-de-cinza);
}

th {
  color: var(--tom-de-cinza);
}

.tamanho-da-fonte-nas-tabelas {
  font-size: smaller;
}

.tamanho-das-tabelas-dos-paises {
  height: 40rem;
}

